# =========================
# Database (Neon)
# =========================
SPRING_DATASOURCE_URL=jdbc:postgresql://ep-fragrant-water-amh9erub-pooler.c-5.us-east-1.aws.neon.tech:5432/neondb?sslmode=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=npg_vZB1ATF3LUmj

# =========================
# JPA
# =========================
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false

# =========================
# JWT
# =========================
JWT_SECRET=Kf92!xPqL8z@A1mN4sT7yRvC0bX
JWT_EXPIRATION=86400

# =========================
# Server (IMPORTANT)
# =========================
SERVER_PORT=${PORT}

# =========================
# Frontend
# =========================
APP_FRONTEND_URL=https://your-frontend.onrender.com

# =========================
# Mail (optional)
# =========================
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=amit276075@gmail.com
SPRING_MAIL_PASSWORD=mipm dqxi iapr usla
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true